* {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    margin: 0 auto;
}

.result-box, form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 24px;
    width: 618px;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
}

td, th {
    margin: 0 auto;
    padding: 24px;
    width: 618px;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
}